
@model Roadsters.Models.ViewModels.BikeViewModel
@using Roadsters.ExtensionMethods

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-light">Create Bike</h2>
<br />

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border backgroundColor">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Bike.Name" class="col-form-label text-white"></label>
            </div>
            <div class="col-5">
                <input asp-for="Bike.Name" class="form-control" />
            </div>
            <span asp-validation-for="Bike.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Bike.Description" class="col-form-label text-white"></label>
            </div>
            <div class="col-5">
                @Html.TextAreaFor(m => m.Bike.Description)
            </div>
            <span asp-validation-for="Bike.Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Bike.Price" class="col-form-label text-white"></label>
            </div>
            <div class="col-5">
                <input asp-for="Bike.Price" class="form-control" />
            </div>
            <span asp-validation-for="Bike.Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Bike.Size" class="col-form-label text-white"></label>
            </div>
            <div class="col-5">
                <input asp-for="Bike.Size" class="form-control" />           
            </div>
            <span asp-validation-for="Bike.Size" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Bike.Image" class="col-form-label text-white"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Bike.CategoryId" class="col-form-label text-white"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Bike.CategoryId" id="CategoryId" asp-items="Model.Category.ToSelectListItem(Model.Bike.CategoryId)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Bike.SubCategoryId" class="col-form-label text-white"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.Bike.SubCategoryId" name="SubCategoryId" id="SubCategoryId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Bike.Stock" class="col-form-label text-white"></label>
            </div>
            <div class="col-5">
                <select asp-for="Bike.Stock" asp-items="Html.GetEnumSelectList<Bike.EStock>()" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackButton" />
            </div>
        </div>
    </div>
</form>


@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            getSubCategory();
            $('#CategoryId').change(function () {
                getSubCategory();
            });
        });
        function getSubCategory() {
            var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
            var ddlsoruce = '#CategoryId';
            $.getJSON(url, { id: $(ddlsoruce).val() }, function (data) {
                var items = '';
                $('#SubCategoryId').empty();
                $.each(data, function (i, subcategory) {
                    items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                });
                $('#SubCategoryId').html(items);
            })
        }
    </script>


    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

